# Environment Config Template

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values
# reference these in your code with process.env.SECRET

DEBUG=""

MONGO_URI=mongodb://sdbot:<Password>@<IP Address>/slackbot
clientId=''
clientSecret=''
PORT=8080
SMTPPORT=587
SMTPUSER=''
SMTPPASSWD=''
appUrl=https://<URL>.appspot.com
jiraBaseUrl=https://taoscloud.atlassian.net
jiraConsumerKey=taos-sdbot
jiraPrivateKeyFile=private/joauth.key.pem
jiraSharedKey=gSlBmdAGNnThRaXEQ4a5IeL
NODE_TLS_REJECT_UNAUTHORIZED=0

