<% include header %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-1">
    <div class="inner">
      <h3 class="masthead-brand"><a class="nav-link" href="/">codettastone</a></h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/bart">bart</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <p id="output"></p>
  </main>

  <script src="js/request.js"></script>

<% include footer %>
