<% include header %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h4 class="masthead-brand">
        <a class="nav-link" href="/">codettastone</a>
      </h4>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/bart">bart</a>
        <a class="nav-link" href="/rest">rest</a>
      </nav>
    </div>
  </header>

  <main role="main" class="container">
    <div class="col" id="map"></div>
    <div class="col" id="header"></div>
    <div class="col overflow-auto" id="output"></div>
  </main>

  <script src="js/maps.js"></script>
  <script src="js/bart.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCFO3Lg7DaNsVjeBpK3CBalUEH3RfEANE&callback=initMap"
          async defer></script>

  <% include footer %>
</div>