<% include header %>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"><a class="nav-link active" href="/">codettastone</a></h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="/bart">bart</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <!-- <div id="carouselExampleSlidesOnly" class="carousel carousel-fade slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="https://images.unsplash.com/photo-1536768139911-e290a59011e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3375&q=80"
              alt="I"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://images.unsplash.com/photo-1542416409-400da26855b5?ixlib=rb-1.2.1&auto=format&fit=crop&w=3334&q=80"
              alt="II"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://images.unsplash.com/photo-1537005081207-04f90e3ba640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3328&q=80"
              alt="III"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://images.unsplash.com/photo-1534823983341-d4e6e4aa046c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1251&q=80"
              alt="IV"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://images.unsplash.com/photo-1536539588411-a3818ee6fb04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
              alt="V"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://images.unsplash.com/photo-1536619493521-1ba5d2c25532?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
              alt="VI"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://images.unsplash.com/photo-1548317202-26d94742e8d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80"
              alt="VII"
            />
          </div>
      </div>
      </div> -->
      <p class="lead">#learntocode</p>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="js/index.js"></script>

    <% include footer %>
