<% include header %>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h4 class="masthead-brand"><a class="nav-link" href="/">codettastone</a></h4>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="/bart">bart</a>
          <a class="nav-link" href="/rest">rest</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <p class="lead">#learntocode</p>
    </main>

    <script src="js/index.js"></script>

    <% include footer %>
