<% include header %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1>codettastone </h1>
          <h3>translate the world with data</h3>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <% include footer %>