<% include header %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1>POST request</h1>
          <hr>
          <textarea name="post" id="post-data" cols="30" rows="5"></textarea>
        </div>
      </div>
    </div>
  </div>

  <script src="js/post-utility.js"></script>

  <% include footer %>