<% include header %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-3">
    <div class="inner">
      <h4 class="masthead-brand"><a class="nav-link" href="/">codettastone</a></h4>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/bart">bart</a>
        <a class="nav-link active" href="/rest">rest</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="h3 mb-3 font-weight-normal">rest api</h1>
    <input id="uri" class="form-control" required />
    <br />
    <button class="btn btn-lg btn-primary btn-block" onclick="getAPI()">post</button>
    <br />
    <div id="output"></div>
  </main>

  <script src="js/post-utility.js"></script>

  <% include footer %>
</div>
